<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <h1>Blog Management System</h1>

        <nav>
            <a href="index.html">Home</a> |
            <a href="add-blog.html">Add Blog</a>
        </nav>

        <hr>
    </header>

    <main>

        <h2>Add New Blog</h2>
        

<form id="blogForm">

<label for="title">Blog Title</label><br>
<input type="text" id="title" name="title">

<label for="author">Author Name</label><br>
<input type="text" id="author" name="author">

<label for="content">Blog Content</label><br>
<textarea id="content" name="content"></textarea>

<button type="submit">Submit Blog</button>

</form>

    </main>

    <footer>
        <hr>
        <p>&copy; 2026 Blog Management System. All Rights Reserved.</p>
    </footer>

<script src="/script.js"></script>
</body>
</html>